.container {
    padding: 0 2rem;
  }

.main {
    min-height: 80vh;
    margin-top: 50px;
    padding: 3rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../public/assets/background-blue.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }